.custom-input {
    background-color: #f8f9fa;
    border: none;              
           
           
          
}

.custom-input:focus {
    outline: none;            
}
.is-invalid {
    border: 0.5px solid red;
    border-radius: 5px;
  }
  
  .is-invalid .flatpickr-input {
    border: 0.5px solid red !important;
    border-radius: 5px;
  }