<!-- Start Breadcrumbs -->

<!-- End Breadcrumbs -->

<div class="row justify-content-center">
    <div class="col-xxl-9">
        <div class="card" id="demo">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-body p-4 border-top border-top-dashed">
                        <div class="row g-6">
                            <div class="col-6">
                                <div class="flex-shrink-0 mt-sm-0 mt-3">
                                    <h6><span class="text-muted fw-normal"></span><span id="legal-register-no">{{defaultSiege?.societe?.raisonsocial}}</span></h6>
                                    <h6><span class="text-muted fw-normal">Matricule Fiscal /MF: </span><span id="legal-register-no">{{defaultSiege?.societe?.matriculefiscale}}</span></h6>
                                    <h6><span class="text-muted fw-normal"></span><span id="legal-register-no">{{defaultSiege?.societe?.activite}}</span></h6> 
                                </div>
                            </div>
                            <!--end col-->
                            <div class="col-6 text-end">
                                <img src="assets/images/logo-light.jpg" alt="Societe Logo"
                                style="height: 50px; margin-bottom: 15px;">
        
                            </div>
                            <!--end col-->
                        </div>
                        
                    </div>
                    <!--end card-body-->
                </div><!--end col-->

                <div class="col-lg-8">
                    <div class="card-body p-3">


                        <table class="table table-bordered table-nowrap">
                            <thead>
                                <tr>
                                    <th scope="col" colspan="4" class="text-center"><h4>Feuille de route</h4></th>
                                  
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <th scope="row">Numéro</th>
                                    <th scope="row">Date</th>
                                    <th scope="row">Siége</th>
            
                                   
                                   
                                    
                                </tr>

                                <tr>
                                    
                                    <td>{{ficheDeRoute?.id ??'000001'}}</td>
                                    <td>{{ficheDeRoute?.dateCreation| date: 'dd-MM-yyyy'}}</td>
                                    <td>Siège Sfax</td>
                                   
                                    
                                </tr>

                                
                                <tr>
                                    <th   colspan="2"><span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">Chauffeur : </span> {{ficheDeRoute?.chauffeur?.nom
                                        ??'Anis' }} {{ficheDeRoute?.chauffeur?.prenom ??'Gargouri'}}</th>
                                    <td  colspan="2"><span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">Véhicule : </span>: {{ficheDeRoute?.vehicule?.matricule ??'125 Tunisie 123'
                                    }}</td>
                                   
                                    
                                </tr>
                                
                               
                            </tbody>
                        </table>





                        <!--end row-->
                    </div>
                    <!--end card-body-->
                </div><!--end col-->





             
                <!--end row-->
                <div class="col-lg-12">              
                   
                    <div class="col-lg-12">
                        <div class="card-body p-2">
                            <div class="">
                                <table class="table  mb-0">
                                    <thead>
                                        <tr class="table-active">
                                            <th scope="col">N°BL</th>
                                            <th scope="col">Expéditeur</th>
                                            <th scope="col">Adresse</th>
                                            <th scope="col">Destinataire</th>
                                            <th scope="col">Adresse</th>
                                            <th scope="col" class="text-end">Nb.colis</th>
                                        </tr>
                                    </thead>
                                    <tbody id="products-list">
                                        <tr *ngFor="let ligne of listeBlTrajet">
                                            <td >{{ ligne?.reference
                                                ?? 'auccun' }}</td>
                                            <td >{{ ligne?.expediteur
                                                ?? 'auccun' }}</td>
                                            <td >{{ ligne?.expediteurA??'N/A' }}</td>
                                            <td >{{ ligne?.destinateur??'auccun' }}</td>
                                            <td >{{ ligne?.destinateurA??'auccun' }}</td>
                                            <td class="text-end">{{ ligne?.nbColis ??'auccun' }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--end tabl   
                            
                             <button (click)="cl()">test</button>
                            -->
                            </div>


                      


                            <div class="hstack gap-2 justify-content-end d-print-none mt-4">
                                <a href="javascript:window.print()" class="btn btn-success"><i
                                        class="ri-printer-line align-bottom me-1"></i> Imprimer</a>
                             
                            </div>
                        </div>
                        <!--end card-body-->
                    </div><!--end col-->
                </div><!--end row-->
            </div>
        </div>
    </div>