<div class="profile-foreground position-relative mx-n4 mt-n4">
    <div class="profile-wid-bg">
        <img src="assets/images/profile-bg.jpg" alt="" class="profile-wid-img" />
    </div>
</div>
<div class="pt-4 mb-4 mb-lg-3 pb-lg-4 profile-wrapper">
    <div class="row g-4">
        <div class="col-auto">
            <div class="avatar-lg">
                <img src="assets/images/users/user-dummy-img.jpg" alt="user-img" class="img-thumbnail rounded-circle" />
            </div>
        </div><!--end col-->
        <div class="col">
            <div class="p-2">
                <h3 class="text-white mb-1"> Code : {{client?.code ?? 'N/A' }} </h3>
                <p class="text-white text-opacity-75">Nom :{{client?.nom ?? 'N/A' }} </p>
                <div class="hstack text-white-50 gap-1">
                    <div class="me-2"><i
                            class="ri-map-pin-user-line me-1 text-white text-opacity-75 fs-16 align-middle"></i>{{client?.adresse
                        ?? 'N/A' }}
                    </div>
                    <!-- <div><i class="ri-building-line me-1 text-white text-opacity-75 fs-16 align-middle"></i>Themesbrand</div> -->
                </div>
            </div>
        </div><!--end col-->
        <div class="col-12 col-lg-auto order-last order-lg-0">
            <div class="row text text-white-50 text-center">

            </div>
        </div><!--end col-->

    </div><!--end row-->
</div>

<div class="row">
    <div class="col-lg-12">
        <div>
            <div class="d-flex profile-wrapper">
                <!-- Nav tabs -->
                <ul ngbNav #customNav="ngbNav" [activeId]="1"
                    class="nav nav-pills animation-nav profile-nav gap-2 gap-lg-3 flex-grow-1" role="tablist">
                    <li [ngbNavItem]="1" class="nav-item">
                        <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                            <i class="ri-airplay-fill d-inline-block d-md-none"></i> <span
                                class="d-none d-md-inline-block">information client </span>
                        </a>
                        <ng-template ngbNavContent>
                            <div class="row">
                                <div class="col-xxl-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title mb-5">Completer ton Profile</h5>
                                            <div class="progress animated-progess custom-progress progress-label">
                                                <div class="progress-bar bg-danger" role="progressbar"
                                                    style="width: 30%" aria-valuenow="30" aria-valuemin="0"
                                                    aria-valuemax="100">
                                                    <div class="label">30%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title mb-3">Info</h5>
                                            <div class="table-responsive">
                                                <table class="table table-borderless mb-0">
                                                    <tbody>
                                                        <tr>
                                                            <th class="ps-0" scope="row">nom</th>
                                                            <td class="text-muted">{{client?.nom ?? 'N/A' }}
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <th class="ps-0" scope="row">E-mail :</th>
                                                            <td class="text-muted">{{client?.email ?? 'N/A' }}</td>
                                                        </tr>
                                                        <tr>
                                                            <th class="ps-0" scope="row">Location :</th>
                                                            <td class="text-muted">{{client?.adresse ?? 'N/A' }},
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div><!-- end card body -->
                                    </div><!-- end card -->


                                </div><!--end col-->
                                <div class="col-xxl-9">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title mb-3">About</h5>

                                            <div class="row">
                                                <div class="col-6 col-md-4">
                                                    <div class="d-flex mt-4">
                                                        <div class="flex-shrink-0 avatar-xs align-self-center me-3">

                                                        </div>
                                                        <div class="flex-grow-1 overflow-hidden">
                                                            <p class="mb-1"> matricule fiscale :
                                                                {{client?.matriculeFiscale ?? 'N/A' }}</p>
                                                            <p class="mb-1"> activite : {{client?.activite ?? 'N/A' }}
                                                            </p>
                                                            <h6 class="text-truncate mb-0">raison social :
                                                                {{client?.raisonSocial ?? 'N/A' }}</h6>
                                                        </div>
                                                    </div>
                                                </div><!--end col-->
                                                <div class="col-6 col-md-4">
                                                    <div class="d-flex mt-4">
                                                        <div class="flex-shrink-0 avatar-xs align-self-center me-3">

                                                        </div>
                                                        <div class="flex-grow-1 overflow-hidden">
                                                            <p class="mb-1">Telephone :</p>
                                                            <h6 class="text-truncate mb-0">
                                                                {{client?.phone ?? 'N/A' }}</h6>
                                                        </div>
                                                    </div>
                                                </div><!--end col-->
                                            </div><!--end row-->
                                        </div><!--end card-body-->
                                    </div><!-- end card -->

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="card">

                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="card" id="invoiceList">

                                                                <div class="card-body">
                                                                    <div class="row g-3">
                                                                        <div class="col-xxl-5 col-sm-12">
                                                                            <div class="search-box">
                                                                                <input type="text" name="searchTerm"
                                                                                    class="form-control search bg-light border-light"
                                                                                    placeholder="Rechercher BL, expideteur,destinataire, agent..."
                                                                                    [(ngModel)]="searchTerm"
                                                                                    (ngModelChange)="performSearch()">
                                                                                <i
                                                                                    class="ri-search-line search-icon"></i>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xxl-2 col-sm-12">
                                                                            <div>
                                                                                <input
                                                                                    class="form-control flatpickr-input"
                                                                                    type="text" mwlFlatpickr
                                                                                    [altInput]="true"
                                                                                    style="width: 400px !important;"
                                                                                    [convertModelValue]="true"
                                                                                    placeholder="Select date"
                                                                                    id="isDate" mode="range"
                                                                                    [(ngModel)]="date"
                                                                                    (ngModelChange)="onDateChange()">
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-xxl-2 col-sm-12">
                                                                            <div>
                                                                                <select class="form-select mb-3"
                                                                                    aria-label="Default select example"
                                                                                    id="pageSizeSelect"
                                                                                    [(ngModel)]="service.pageSize"
                                                                                    (change)="changePage()">
                                                                                    <option value="5">5</option>
                                                                                    <option value="10">10</option>
                                                                                    <option value="20">20</option>
                                                                                    <option value="50">50</option>
                                                                                    <option value="100">100</option>
                                                                                </select>

                                                                            </div>
                                                                        </div>


                                                                    </div>
                                                                    <!--end row-->
                                                                </div>
                                                                <div class="card-body">
                                                                    <div>


                                                                        <div class="table-responsive table-card">
                                                                            <table
                                                                                class="table align-middle table-nowrap  table-hover table-nowrap  table-bordered "
                                                                                id="invoiceTable">
                                                                                <thead class="text-muted">
                                                                                    <tr>

                                                                                        <th
                                                                                            (click)="onSort('reference')">
                                                                                            N°BL</th>
                                                                                        <th
                                                                                            (click)="onSort('dateCreation')">
                                                                                            Date Liv </th>
                                                                                        <th
                                                                                            (click)="onSort('dateCreation')">
                                                                                            Agent </th>
                                                                                        <th
                                                                                            (click)="onSort('utilisateur.prenom')">
                                                                                            Agent Rammassage </th>
                                                                                        <th
                                                                                            (click)="onSort('expediteur')">
                                                                                            Expéditeur
                                                                                        </th>
                                                                                        <th
                                                                                            (click)="onSort('adresseExpediteur')">
                                                                                            Adr Expéditeur</th>
                                                                                        <th
                                                                                            (click)="onSort('Destinataire')">
                                                                                            Destinataire
                                                                                        </th>
                                                                                        <th
                                                                                            (click)="onSort('adresseDestinataire')">
                                                                                            Adr Destinataire </th>
                                                                                        <th (click)="onSort('totalCR')">
                                                                                            CR
                                                                                        </th>
                                                                                        <th
                                                                                            (click)="onSort('totalfrais')">
                                                                                            Frais livraison
                                                                                        </th>
                                                                                        <th
                                                                                            (click)="onSort('quantite')">
                                                                                            Quantite
                                                                                        </th>
                                                                                        <th (click)="onSort('statut')">
                                                                                            statut
                                                                                        </th>
                                                                                        <th>Action</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody class="list form-check-all"
                                                                                    id="invoice-list-data">
                                                                                    @for(data of bons;track $index){
                                                                                    <tr id="i_{{data.id}}">

                                                                                        <td><a
                                                                                                [routerLink]="['/bon/bondetails', data.id]">
                                                                                                <ngb-highlight
                                                                                                    [result]="data.reference"
                                                                                                    [term]="searchTerm">
                                                                                                </ngb-highlight>
                                                                                            </a>
                                                                                        </td>
                                                                                        <td><a
                                                                                                [routerLink]="['/bon/bondetails', data.id]">
                                                                                                <ngb-highlight
                                                                                                    [result]="(data.dateLivraison | date: 'yyyy-MM-dd')  ??'N/A'"
                                                                                                    [term]="searchTerm">
                                                                                                </ngb-highlight>
                                                                                            </a></td>
                                                                                        <td class="customer_name">
                                                                                            <ngb-highlight
                                                                                                [result]="data?.utilisateur ?? 'N/A' "
                                                                                                [term]="searchTerm">
                                                                                            </ngb-highlight>
                                                                                        </td>
                                                                                        <td class="customer_name">
                                                                                            <ngb-highlight
                                                                                                [result]="data?.ChauffeurRamssageNom ?? data?.utilisateurRamassageNom  ?? 'N/A' "
                                                                                                [term]="searchTerm">
                                                                                            </ngb-highlight>
                                                                                        </td>
                                                                                        <td>
                                                                                            <ngb-highlight
                                                                                                [result]="data?.expediteur ?? 'N/A'"
                                                                                                [term]="searchTerm">
                                                                                            </ngb-highlight>
                                                                                        </td>
                                                                                        <td>
                                                                                            <ngb-highlight
                                                                                                [result]="data?.adresseExpediteur ?? 'N/A' "
                                                                                                [term]="searchTerm">
                                                                                            </ngb-highlight>
                                                                                        </td>
                                                                                        <td>
                                                                                            <ngb-highlight
                                                                                                [result]="data?.Destinataire?? 'N/A' "
                                                                                                [term]="searchTerm">
                                                                                            </ngb-highlight>
                                                                                        </td>
                                                                                        <td>
                                                                                            <ngb-highlight
                                                                                                [result]="data?.adresseDestinataire  ?? 'N/A'"
                                                                                                [term]="searchTerm">
                                                                                            </ngb-highlight>
                                                                                        </td>
                                                                                        <td>
                                                                                            <ngb-highlight
                                                                                                [result]="data?.totalCR ?? 'N/A' "
                                                                                                [term]="searchTerm"
                                                                                                class="text-end">
                                                                                            </ngb-highlight>
                                                                                        </td>
                                                                                        <td>
                                                                                            <ngb-highlight
                                                                                                [result]="data?.totalfrais?? 'N/A' "
                                                                                                [term]="searchTerm"
                                                                                                class="text-end">
                                                                                            </ngb-highlight>
                                                                                        </td>
                                                                                        <td>
                                                                                            <ngb-highlight
                                                                                                [result]="data?.quantite ?? 'N/A' "
                                                                                                [term]="searchTerm"
                                                                                                class="text-end">
                                                                                            </ngb-highlight>
                                                                                        </td>

                                                                                        <td class="statut"
                                                                                            id="lj_{{data?.statut}}">
                                                                                            <h5><span
                                                                                                    [ngClass]="getBadgeClasses(data.statut)">
                                                                                                    {{
                                                                                                    getStatusText(data.statut)
                                                                                                    }}
                                                                                                </span></h5>



                                                                                        </td>

                                                                                        <td>
                                                                                            <div class="dropdown"
                                                                                                ngbDropdown>
                                                                                                <button
                                                                                                    class="btn btn-soft-secondary btn-sm dropdown arrow-none"
                                                                                                    type="button"
                                                                                                    data-bs-toggle="dropdown"
                                                                                                    aria-expanded="false"
                                                                                                    ngbDropdownToggle>
                                                                                                    <i
                                                                                                        class="ri-more-fill align-middle"></i>
                                                                                                </button>
                                                                                                <ul class="dropdown-menu dropdown-menu-end"
                                                                                                    ngbDropdownMenu>
                                                                                                    <li><a class="dropdown-item"
                                                                                                            [routerLink]="['/bon/bondetails', data.id]"><i
                                                                                                                class="ri-eye-fill align-bottom me-2 text-muted"></i>
                                                                                                            View</a>
                                                                                                    </li>
                                                                                                    <li><a class="dropdown-item"
                                                                                                            [routerLink]="['/bon/modifier', data.id]"><i
                                                                                                                class="ri-pencil-fill align-bottom me-2 text-muted"></i>
                                                                                                            modifier</a>
                                                                                                    </li>
                                                                                                    <li><a class="dropdown-item"
                                                                                                            [routerLink]="['/bon/status', data.id]"><i
                                                                                                                class="ri-download-2-line align-bottom me-2 text-muted"></i>
                                                                                                            edutsatus</a>
                                                                                                    </li>
                                                                                                    <li
                                                                                                        class="dropdown-divider">
                                                                                                    </li>
                                                                                                    <!-- <li>
                                                                                                        <a class="dropdown-item remove-item-btn" data-bs-toggle="modal"
                                                                                                            (click)="confirm(deleteModel,data._id)">
                                                                                                            <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i>
                                                                                                            Supprimer
                                                                                                        </a>
                                                                                                    </li> -->
                                                                                                </ul>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                    }
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <div
                                                                            class="row justify-content-md-end align-items-md-center mt-3">
                                                                            <!-- Pagination -->
                                                                            <div class="col col-sm-6">
                                                                                <div
                                                                                    class="text-sm-right float-sm-end listjs-pagination">

                                                                                    <ngb-pagination
                                                                                        [collectionSize]="allinvoices?.length"
                                                                                        [(page)]="service.page"
                                                                                        [pageSize]="service.pageSize"
                                                                                        (pageChange)="changePage()">
                                                                                    </ngb-pagination>
                                                                                </div>
                                                                            </div>
                                                                            <!-- End Pagination -->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <!--end col-->
                                                    </div>
                                                </div><!-- end card body -->
                                            </div><!-- end card -->
                                        </div><!-- end col -->
                                    </div><!-- end row -->

                                    <div class="card">


                                    </div><!-- end card -->

                                </div><!--end col-->
                            </div><!--end row-->
                        </ng-template>
                    </li>

                    <li [ngbNavItem]="3" class="nav-item">
                        <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                            <i class="ri-price-tag-line d-inline-block d-md-none"></i> <span
                                class="d-none d-md-inline-block">Factures</span>
                        </a>
                        <ng-template ngbNavContent>
                            <div class="card">
                                <div class="card-body ">
                                    <div class="col-auto text-end  ">
                                        <div class="d-flex justify-content-sm-end mb-3 w-25 ">
                                            <select class="form-select" aria-label="Default select example"
                                                id="pageSizeSelect" placeholder="Etat livraison"
                                                (change)="triggerSearch()" [(ngModel)]="etatFilter">
                                                <option value="">auccun </option>
                                                <option value="0"> non payée</option>
                                                <option value="1">payéé</option>


                                            </select>
                                            <div class="search-box ms-2">
                                                <input type="text" class="form-control search  "
                                                    placeholder="Rechercher..." [(ngModel)]="servicef.searchTerm">
                                                <i class="ri-search-line search-icon"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        @for(data of listeFactures;track $index){
                                        <div class="col-xxl-3 col-sm-6">
                                            <div class="card profile-project-card profile-project-{{
                                                 getBadgeClassesca(data.etat)}}">
                                                <div class="card-body p-4">
                                                    <div class="d-flex">
                                                        <div class="flex-grow-1 text-muted overflow-hidden">
                                                            <h5 class="fs-14 text-truncate"><a
                                                                    href="javascript:void(0);"
                                                                    class="text-body">{{data?.numeroFacture}}</a></h5>
                                                            <p class="text-muted text-truncate mb-0">montant ttc : <span
                                                                    class="fw-semibold text-body">{{data?.montantTotalTtc}}</span>
                                                            </p>
                                                        </div>
                                                        <div class="flex-shrink-0 ms-2">
                                                            <span [ngClass]="getBadgeClassesc(data.statut)">
                                                                {{ getStatusTextc(data.etat)}}
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div class="d-flex mt-2">
                                                        <div class="flex-grow-1">
                                                            <div class="d-flex align-items-center gap-2">
                                                                <div>
                                                                    <h5 class="fs-12 text-muted mb-0">
                                                                        Date : {{ data?.dateFacture | date: 'yyyy-MM-dd'
                                                                        }}</h5>

                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end card body -->
                                            </div>
                                            <!-- end card -->
                                        </div><!--end col-->
                                        }
                                        <div class="col-lg-12 d-flex justify-content-center"> <!-- Added d-flex -->
                                            <div class="mt-4"> <!-- Removed unnecessary justify-content-center class -->
                                                <ngb-pagination [collectionSize]="(total | async)!"
                                                    [(page)]="servicef.page" [pageSize]="servicef.pageSize">
                                                </ngb-pagination>
                                            </div>
                                        </div>

                                    </div><!--end row-->
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </ng-template>
                    </li>
                    <!-- <li [ngbNavItem]="4" class="nav-item">
                        <a ngbNavLink class="nav-link" data-bs-toggle="tab" role="tab">
                            <i class="ri-folder-4-line d-inline-block d-md-none"></i> <span
                                class="d-none d-md-inline-block">Documents</span>
                        </a>
                        <ng-template ngbNavContent>
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center mb-4">
                                        <h5 class="card-title flex-grow-1 mb-0">Documents</h5>
                                        <div class="flex-shrink-0">
                                            <input class="form-control d-none" type="file" id="formFile">
                                            <label for="formFile" class="btn btn-danger"><i
                                                    class="ri-upload-2-fill me-1 align-bottom"></i> Upload File</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="table-responsive">
                                                <table class="table table-borderless align-middle mb-0">
                                                    <thead class="table-light">
                                                        <tr>
                                                            <th scope="col">File Name</th>
                                                            <th scope="col">Type</th>
                                                            <th scope="col">Size</th>
                                                            <th scope="col">Upload Date</th>
                                                            <th scope="col">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @for(data of document;track $index){
                                                        <tr>
                                                            <td>
                                                                <div class="d-flex align-items-center">
                                                                    <div class="avatar-sm">
                                                                        <div
                                                                            class="avatar-title bg-{{data.iconBackgroundClass}}-subtle text-{{data.iconBackgroundClass}} rounded fs-20">
                                                                            <i class="{{data.icon}}"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="ms-3 flex-grow-1">
                                                                        <h6 class="fs-15 mb-0"><a
                                                                                href="javascript:void(0)">{{data.fileName}}</a>
                                                                        </h6>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>{{data.fileType}}</td>
                                                            <td>{{data.fileSize}}</td>
                                                            <td>{{data.updatedDate}}</td>
                                                            <td>
                                                                <div class="dropdown" ngbDropdown>
                                                                    <a href="javascript:void(0);"
                                                                        class="btn btn-light btn-md arrow-none"
                                                                        id="dropdownMenuLink15"
                                                                        data-bs-toggle="dropdown" aria-expanded="true"
                                                                        ngbDropdownToggle>
                                                                        <i class="ri-equalizer-fill"></i>
                                                                    </a>
                                                                    <ul class="dropdown-menu dropdown-menu-end"
                                                                        aria-labelledby="dropdownMenuLink15"
                                                                        ngbDropdownMenu>
                                                                        <li><a class="dropdown-item"
                                                                                href="javascript:void(0);"><i
                                                                                    class="ri-eye-fill me-2 align-middle text-muted"></i>View</a>
                                                                        </li>
                                                                        <li><a class="dropdown-item"
                                                                                href="javascript:void(0);"><i
                                                                                    class="ri-download-2-fill me-2 align-middle text-muted"></i>Download</a>
                                                                        </li>
                                                                        <li class="dropdown-divider"></li>
                                                                        <li><a class="dropdown-item"
                                                                                href="javascript:void(0);"><i
                                                                                    class="ri-delete-bin-5-line me-2 align-middle text-muted"></i>Delete</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="text-center mt-3">
                                                <a href="javascript:void(0);" class="text-success "><i
                                                        class="mdi mdi-loading mdi-spin fs-20 align-middle me-2"></i>
                                                    Load more </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </li> -->
                </ul>
                <div class="flex-shrink-0">
                    <a [routerLink]="['/clients/edit', client?.id]" class="btn btn-success"><i
                            class="ri-edit-box-line align-bottom"></i> modifier Profile</a>
                </div>
            </div>
            <!-- Tab panes -->
            <div class="tab-content pt-4 text-muted">
                <div [ngbNavOutlet]="customNav"></div>
            </div><!--end tab-content-->
        </div>
    </div><!--end col-->
</div><!--end row-->